*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* PrimeReact InputText full width fix */
.p-inputtext {
  width: 100%;
}
